<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SAR - EXECUTAR</title>
    <link rel="stylesheet" href="css/admin.css">
    <link href="https://fonts.googleapis.com/css?family=Kanit|Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="packs/CodeEditor/lib/codemirror.css">
    <link rel="stylesheet" href="packs/CodeEditor/theme/monokai.css">
    <link rel="stylesheet" href="packs/CodeEditor/theme/neat.css">
    <script src="packs/CodeEditor/lib/codemirror.js"></script>
    <script src="packs/CodeEditor/addon/selection/active-line.js"></script>
    <script src="packs/CodeEditor/addon/edit/matchbrackets.js"></script>
    <script src="packs/CodeEditor/mode/javascript/javascript.js"></script>
  </head>
  <body>
    <header>
      <div class="invisivel">
          <div id="dialog-confirm"  title=" Turma NOME  Encerrar sessão">
           <p>NOME, Deseja finalizar sua sessão ?</p>
         </div>
         <div id="dialog-message" title="Finalizar solicitação">
           <p>Solicitação  Cancelada !!!</p>
         </div>
      </div>
    </header>
    <nav>Navegação</nav>
    <main>
      </script>
      <!--CODE EDITOR - REFERENCES CODEMIRROR-->
              <div id="container-code" class="Code-editor">
                <h1>Execute seus Códigos:</h1>
                <div id="codeeditor"></div>
                <!-- <button type="button" onclick="verificar()" id="preview">Executar</button> -->
                <div class="btn-themes">
                  <button type="button" value = "neat" id="btn-theme-neat">Branco</button>
                  <button type="button" value = "monokai" id="btn-theme-monokai">Preto</button>
                </div>
                <div class="alert"></div>
              </div>
    </main>
    <footer>

      <script type="text/javascript" src="js/codeeditor.js"></script>
    </footer>
  </body>
</html>
