<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAR - PAINEL CONTROLES</title>

    <link rel="stylesheet" href="css/dashboard.css">
    <link href="css/forms.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit|Source+z+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="packs/Highlight/styles/monokai.css">
    <link rel="stylesheet" href="packs/CodeEditor/lib/codemirror.css">
    <link rel="stylesheet" href="packs/CodeEditor/theme/monokai.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="packs/Highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="packs/CodeEditor/lib/codemirror.js"></script>
    <script src="packs/CodeEditor/addon/selection/active-line.js"></script>
    <script src="packs/CodeEditor/addon/edit/matchbrackets.js"></script>
    <script src="packs/CodeEditor/mode/javascript/javascript.js"></script>

  </head>
  <body>
<!-- header -->
    <header>
      <div class="container-header">
        <div class="title-header">
          <p class="logo-header">logo</p>
          <h1>SAR - PAINEL CONTROLES </h1>
        </div>
        <div class="config">
          <img src="img/config.svg" alt="configurações">
          <img src="img/exit.svg" alt="sair">
        </div>
      </div>
    </header>
<!-- </header> <nav>  -->
    <nav>
      <ul class="list-nav">
        <a id="btn-manual" href="/dashboard#manual" class="elements-nav manual">
          <img src="img/manual.svg" alt="Manual SAR">
          <span class="legend l-manual">Manual</span>
        </a>
        <a id="btn-add_estudante" href="/dashboard#CadastrarEstudante" class="elements-nav add-estudantes">
          <img src="img/add-estudante.svg" alt="Cadastrar Estudante">
          <span class="legend l-add-estudantes">Cadastrar Estudante</span>
        </a>
        <a id="btn-salas_terminal" href="/dashboard#salasTerminal" class="elements-nav salas-terminal">
          <img src="img/code.svg" alt="Terminal e Salas">
          <span class="legend l-salas-terminal">Salas e Terminal</span>
        </a>
      </ul>
      <div class="container-contatos">
        <h1>CONECTADOS</h1>
        <div class="contatos">
          <span class="status"></span>
          <img src="img/nycolas.jpg" alt="ft-perfil">
          <p>NOME </p>
        </div>
        <div class="contatos">
          <span class="status"></span>
          <img src="img/nycolas.jpg" alt="ft-perfil">
          <p>NOME </p>
        </div>
      </div>
    </nav>
<!-- </nav> <main>  -->
    <main>
      <div class="risco"></div>
      <!-- CONTAINER-1 - MANUAL -->
      <div id="manual" class="container-1">
        <div class="introducao">
          <h1>Manual</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
          <ul>
            <li><a href="#" download="manual-SAR">Apostila</a></li>
          </ul>
        </div>
        <div class="exemplo">
          <h1>Exemplo de execução</h1>
          <div class="vincular">
             <h2>1 - Vincule seu aparelho com robô</h2>
             <pre>
               <code class="">
                    var ip = 192.168.25.204;
               </code>
             </pre>
           </div>
           <div class="executar">
             <h2>2 - Execute seus códigos</h2>
              <pre>
                <code class="jsvascript">
                    var robo = new Robo();
                    robo.move(x);
                </code>
              </pre>
            </div>
         </div>
      </div>
      <!-- CONTAINER-2 - SALA E TERMINAL -->
      <div id="salasTerminal" class="container-2 invisivel">
        <div class="content C-salas">
          <div class="info-inicial-salas">
            <h1>Salas</h1>
            <img src="img/add-classrom.svg" alt="adicionar Sala">
          </div>
          <div class="salas-form invisivel">
            <form action="" method="post">
              <input type="text" name="" placeholder="OPA">
              <label for="">OPA</label>
            </form>
          </div>
          <div class="container-salas">

            <div class="salas">
              <div class="content-salas-1">
                <h2>NOME SALA</h2><!-- MIN: 8 MAX: 8  -->
                <p>TURMA</p>
              </div>
              <p class="content-salas-2">QTS ALUNOS</p>
            </div>

            <div class="salas">
              <div class="content-salas-1">
                <h2>NOME SALA</h2>
                <p>TURMA</p>
              </div>
              <p class="content-salas-2">QTS ALUNOS</p>
            </div>

            <div class="salas">
              <div class="content-salas-1">
                <h2>NOME SALA</h2>
                <p>TURMA</p>
              </div>
              <p class="content-salas-2">QTS ALUNOS</p>
            </div>

            <div class="salas">
              <div class="content-salas-1">
                <h2>NOME SALA</h2>
                <p>TURMA</p>
              </div>
              <p class="content-salas-2">QTS ALUNOS</p>
            </div>

            <div class="salas">
              <div class="content-salas-1">
                <h2>NOME SALA</h2>
                <p>TURMA</p>
              </div>
              <p class="content-salas-2">QTS ALUNOS</p>
            </div>

            <div class="salas">
              <div class="content-salas-1">
                <h2>NOME</h2>
                <p>TURMA</p>
              </div>
              <p class="content-salas-2">QTS ALUNOS</p>
            </div>
          </div>
        </div>
        <div class="content C-terminal">
          <!--CODE EDITOR - REFERENCES CODEMIRROR-->
          <div id="container-code" class="Code-editor">
            <h1>Execute seus Códigos:</h1>
            <div id="codeeditor"></div>
          </div>
        </div>
      </div>
      <!-- CONTAINER-3 - ADD ESTUDANTE -->
      <div id="CadastrarEstudante" class="container-modal ">
        <div class="container-forms">
          <form class="container-cadastrar" action="index.html" method="post">
            <div class="titles-section">
              <h1>Cadastrar Estudante</h1>
            </div>
            <div class="input-container">
                <input type="text" name="nome_estudante" placeholder="Digite o nome do Estudante"  >
                <label for="nome_estudante">Nome da Estudante</label>
            </div>
            <div class="input-container">
                <input type="text" name="nome_aluno" placeholder="Digite seu nome Completo do aluno"  >
                <label for="nome_aluno">Nome do Aluno</label>
            </div>
            <button class="submit-enviar" type="submit" name="criar-sala">Criar</button>
          </form>
        </div>
      </div>
    </main>
    <footer>
      footer
    </footer>
    <!-- Finalizar Sessão -->
    <div class="invisivel">
        <div id="dialog-confirm"  title="Sair?">
         <p>Já vai?</p>
       </div>
       <div id="dialog-message" title="Finalizar solicitação">
         <p>Solicitação  Cancelada !!!</p>
       </div>
    </div>
    <!-- SCRIPTS -->
    <script type="text/javascript" src="js/dashboard_acoes-menu.js"></script>
    <script type="text/javascript" src="js/dashboard_icons_menu.js"></script>
    <script type="text/javascript" src="js/codeeditor.js"></script>
  </body>
</html>
