<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="description" content="Sistema SAR">
    <meta name="keywords" content="HTML,CSS,JQUERY,JavaScript,EXPRESS">
    <meta name="author" content="Nycolas Silva Fróes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SAR - PAINEL CONTROLES</title>

    <link rel="stylesheet" href="css/dashboard.css">
    <link href="css/forms.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit|Source+z+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="packs/Highlight/styles/monokai.css">
    <link rel="stylesheet" href="packs/CodeEditor/lib/codemirror.css">
    <link rel="stylesheet" href="packs/CodeEditor/theme/monokai.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="packs/Highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="packs/CodeEditor/lib/codemirror.js"></script>
    <script src="packs/CodeEditor/addon/selection/active-line.js"></script>
    <script src="packs/CodeEditor/addon/edit/matchbrackets.js"></script>
    <script src="packs/CodeEditor/mode/javascript/javascript.js"></script>

  </head>
  <body>
    <% console.log(user) %>
<!-- header -->
    <header>
      <div class="container-header">
        <div class="title-header">
          <p class="logo-header">logo</p>
          <h1>SAR - PAINEL CONTROLES </h1>
        </div>
        <div class="config">
          <img src="img/config.svg" class="btn-config" alt="configurações"></img>
          <a href="/sair">
            <img src="img/exit.svg" class="btn-sair" alt="sair"></img>
          </a>
        </div>
      </div>
    </header>
<!-- </header> <nav>  -->
    <nav>
      <ul class="list-nav">
        <a id="btn-manual" class="elements-nav manual">
          <img src="img/manual.svg" alt="Manual SAR">
          <span class="legend l-manual">Manual</span>
        </a>
        <a id="btn-add_estudante"  class="elements-nav add-estudantes">
          <img src="img/add-estudante.svg" alt="Cadastrar Estudante">
          <span class="legend l-add-estudantes">Cadastrar Estudante</span>
        </a>
        <a id="btn-salas_terminal" class="elements-nav salas-terminal">
          <img src="img/code.svg" alt="Terminal e Salas">
          <span class="legend l-salas-terminal">Salas e Terminal</span>
        </a>
      </ul>
      <!-- DE salasTerminal -->
      <div class="container-contatos">
        <h1>CONECTADOS</h1>
        <div class="contatos">
          <span class="status"></span>
          <img src="img/nycolas.jpg" alt="ft-perfil">
          <p>NOME </p>
        </div>
        <div class="contatos">
          <span class="status"></span>
          <img src="img/nycolas.jpg" alt="ft-perfil">
          <p>NOME </p>
        </div>
      </div>
    </nav>
<!-- </nav> <main>  -->
    <main>
      <div id="manual1" class="risco"></div>
      <!-- CONTAINER-1 - MANUAL -->
      <div id="manual" class="container-1">
        <div class="introducao">
          <h1>Manual</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
          <ul>
            <li><a href="#" download="manual-SAR">Apostila</a></li>
          </ul>
        </div>
        <div class="exemplo">
          <h1>Exemplo de execução</h1>
          <div class="vincular">
             <h2>1 - Vincule seu aparelho com robô</h2>
             <pre>
               <code class="">
                    var ip = 192.168.25.204;
               </code>
             </pre>
           </div>
           <div class="executar">
             <h2>2 - Execute seus códigos</h2>
              <pre>
                <code class="jsvascript">
                    var robo = new Robo();
                    robo.move(x);
                </code>
              </pre>
            </div>
         </div>
      </div>
      <!-- CONTAINER-2 - SALA E TERMINAL -->
      <div id="salasTerminal" class="container-2 invisivel">
        <div class="content C-salas">
          <div id="salas-title" class="info-inicial-salas">
            <h1>Salas</h1>
            <img id="btn-add_classrom" src="img/add-classrom.svg" alt="adicionar Sala">
          </div>
          <div id="cadastrar_sala" class="container-forms salas-form invisivel">
            <form action="/cadastrar_sala" method="post">
              <div class="titles-section" >
                <legend>Cadastrar SALA</legend>
              </div>
              <div class="input-container">
                <input type="text" name="nome_sala" maxlength="8" placeholder="Digite o Nome da sala, com até 8 caracteres">
                <label for="nome_sala">Nome da Sala</label>
              </div>
              <button type="submit" class="submit-enviar" name="cadastrar_sala">Cadastrar</button>
            </form>
          </div>
          <div id="salas" class="container-salas">
            <div class="salas" onclick="criarCode()">
              <div class="content-salas-1">
                <h2>NOME</h2>
                <p>TURMA</p>
              </div>
              <p class="content-salas-2">QTS ALUNOS</p>
            </div>

            <div class="salas">
              <div class="content-salas-1">
                <h2>NOME</h2>
                <p>TURMA</p>
              </div>
              <p class="content-salas-2">QTS ALUNOS</p>
            </div>

            <div class="salas">
              <div class="content-salas-1">
                <h2>NOME</h2>
                <p>TURMA</p>
              </div>
              <p class="content-salas-2">QTS ALUNOS</p>
            </div>
        </div>
        <div id="terminal-CodeEditor" class="content C-terminal invisivel">
          <!--CODE EDITOR - REFERENCES CODEMIRROR-->
          <div id="container-code" class="Code-editor">
            <h1>Execute seus Códigos:</h1>
            <div id="codeeditor"></div>
          </div>
        </div>
      </div>
    </div>
      <!-- CONTAINER-3 - ADD ESTUDANTE -->
      <div id="CadastrarEstudante" class="container-modal invisivel">
        <div class="container-forms">
          <form class="container-cadastrar" action="/cadastrar/aluno" method="post">
            <div class="titles-section">
              <h1>Cadastrar Estudante</h1>
            </div>
            <div class="inputs-container">
              <div class="input-container">
                  <input type="text" name="nome_aluno" placeholder="Digite o nome do Estudante"  >
                  <label for="nome_aluno">Nome da Estudante</label>
              </div>
              <div class="input-container">
                  <input type="text" class="cpf" name="cpf_aluno" placeholder="Digite o CPF do aluno">
                  <label for="cpf_aluno">CPF</label>
              </div>
              <div class="input-container">
                  <input type="email" name="email_aluno" placeholder="Digite o email do aluno"  >
                  <label for="email_aluno">Email</label>
              </div>
              <div class="input-container">
                  <input type="date" name="anoNascimento_aluno" placeholder="Digite a data de nascimento do aluno"  >
                  <label for="anoNascimento_aluno">Data nascimento</label>
              </div>
              <button class="submit-enviar" type="submit" name="cadastrar_aluno">Cadastrar</button>
            </div>
          </form>
        </div>
      </div>
      <!-- infors Editaveis -->
      <section id="config" class="invisivel">
        <h1 class="title-config">Configurações</h1>
        <div class="flex-config">
          <div class="editar-usuario">
            <div class="ft-perfil">
              <img src="img/nycolas.jpg"></img>
            </div>
            <form class="forms-ft" action="index.html" method="post">
              <div class="input-container">
                Selecione sua Foto<input type="file" name="ft_perfil" class="file-input" accept="image/*">
              </div>
              <button type="submit" class="submit-enviar btn-file" name="enviar">Enviar</button>
            </form>
          </div>
          <div class="editar-infors">
            <form action="/editar" method="post">
              <div class="titles-section" >
                <legend>Editar</legend>
              </div>
              <div class="input-container">
                <label for="nome">Nome</label>
                <input type="text" name="nome" placeholder="Digite seu nome, para alterar">
              </div>
              <div class="input-container">
                <label for="nome">Email</label>
                <input type="email" name="email" placeholder="Digite seu email, para alterar">
              </div>
              <div class="input-container">
                <label for="cpf">CPF</label>
                <input type="text" name="cpf" placeholder="Digite o Nome da sala, com até 8 caracteres">
              </div>

              <div class="input-container">
                <label for="Senha">Senha</label>
                <input type="password" name="senha" maxlength="8" placeholder="Digite o Nome da sala, com até 8 caracteres">
              </div>
              <button type="submit" class="submit-enviar btn-editar" name="cadastrar_sala">Editar</button>
            </form>
          </div>
        </div>
      </section>
    </main>
    <footer>
    &copy NycolasSF
    </footer>
    <!-- SCRIPTS -->
    <script type="text/javascript" src="js/mask.js"></script>
    <script type="text/javascript" src="js/dashboard_acoes-menu.js"></script>
    <script type="text/javascript" src="js/dashboard_icons_menu.js"></script>
    <script type="text/javascript" src="js/codeeditor.js"></script>
  </body>
</html>
