*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

  --branco: #fff;
  --preto: #242628;

  --cor-header: #1D1A31;
  --cor-nav: #4D2D52;
  --cor-footer: #9A4C95;

  --vermelho: #f13838;
  --btn-azul2: #6b81fa;
  --verde: #27ae60;

  --preto-tranparencia: rgba(0, 0, 0, 0.9);
}
.invisivel{
  display: none;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
html,
body{
  height: 100%;
  display: grid;
  grid-template-rows: 5rem 5rem auto 5rem;
  font-family:  'Kanit', sans-serif;
}
/* HEADER */
header{
  z-index: 9999;
}
.container-header{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: rgba(0,0,0,0.9);
  background: var(--branco);
  -webkit-box-shadow: 1px 4px 11px -1px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 4px 11px -1px rgba(0,0,0,0.2);
  box-shadow: 1px 4px 5px -3px rgba(0,0,0,0.2);
}
.title-header{
  display: flex;
  align-items: center;
}
.logo-header{
  margin: .5rem;
}
.title-header h1{
  font-size: 1.8rem;
}
.config{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 35%;
}
.config img {
  cursor: pointer;
  width: 10%;
  margin: .5rem;
}
.btn-sair {
  width: 30%!important;
}
/* NAV */
nav{
  margin-top: 2rem;
  padding: .5rem;
}
.list-nav{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.elements-nav{
  color: #000;
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.elements-nav img{
  cursor: pointer;
  width: 15%;
}
.legend{
  visibility: visible;
}
/* CONTATOS */
.icon-contatos{
  width: 10%;
  position: fixed;
  bottom: 10%;
  right: 2%;
}
.container-contatos{
  display: none;
  position: absolute;
  margin-top: 5%;
  top: 60%;
  left: 50%;
  -webkit-box-shadow: 1px 1px 10px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 10px -2px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 10px -2px rgba(0,0,0,0.75);
}
.contatos{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(250, 250, 250,1.0);
  height: 10%;
  margin-bottom: 5%;
  width: 100%;
}
.status{
  margin: 5%;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}
.on{
  background: #2ecc71;
}
.of{
  background: var(--vermelho)
}
.contatos img{
  width: 25%;
  height: 25%;
  border-radius: 50%;
}
.contatos p{
  margin: 10%;
}
.btn-verAll {
  margin: auto;
  text-align: center;
}
.btn-verAll button{
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  margin: 5px;
  background: var(--btn-azul);
  padding: .8rem 2rem;

}
/* MAIN*/
.risco{
  height: 2px;
  background: #000;
}
main {
  padding: 6%;
  color: #000;
  min-height: 100vh;
}
.introducao p{
  text-align:justify;
  font-family: 'Source Sans Pro', sans-serif;
}
.introducao .download_apostila{
  position: inherit;
  float: none;
  margin: 3%;
  list-style: circle;
}
.exemplo h1{
  margin-top: 2%;
  font-size: 1.5rem
}
.exemplo h2{
  font-weight: normal;
  margin-top: 3%;
  font-size: 1.3rem;
}
.exemplo code{
  border-radius: 15px
}
/* SALAS E TERMINAL */
.titles-section h1{
    font-family:  'Kanit', sans-serif !important;
    font-size: 1.6rem!important;
}
#salasTerminal{
  opacity: 1;
}
.info-inicial-salas{
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.info-inicial-salas img{
  margin-right: 6%;
  width: 3%;
  height: 3%
}
.container-salas{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.salas{
  cursor: pointer;
  margin: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  width: 15%;
  height: 5%;
  background: rgba(236, 240, 241,1.0);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: .8rem;

}
.content-salas-1 h2{
  font-size: 1rem;
}
/* TERMINAL */
/*code editor*/
.CodeMirror{
    border-radius: 10px;
    padding: 1rem;
}
.Code-editor{
  margin-bottom: 2%;
}
.Code-editor h1{
  font-family: 'Kanit';
  font-size: 2rem;
  margin-bottom: 2%;
}
#codeeditor{
  width: 95%;
  max-width: 100%;
}
/* CadastrarEstudante */
.container-forms button{
  cursor: pointer;
}
.inputs-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.container-forms{
  width: 60%!important;
  -webkit-box-shadow: 0px 9px 20px -5px rgba(0,0,0,0.33)!important;
  -moz-box-shadow: 0px 9px 20px -5px rgba(0,0,0,0.33)!important;
  box-shadow: 0px 9px 20px -5px rgba(0,0,0,0.33)!important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.select-tipo-usuario{
  margin: 2rem;
}
/* CADASTRAR cadastrar_sala_grupos */
#cadastrar_sala_grupos form input{
  width: 95%!important;
}
.select-style{
  width: 50%!important;
}
#nome_sala{
  border: none;
}
.container-buttons{
  width: 100%
}
.button-cadastrar_grupo{
  cursor: pointer;
}
.select_sala{
  margin: 2rem 0;
}
.cusSelBlock{
  margin: auto;
  width: 80%!important;

}
@keyframes inputVazio {
    0%{
      border: solid var(--vermelho);
      transform: translateX(0);
    }
    25%{
      transform: translateX(20px);
    }
    50%{
      border: solid var(--vermelho);
      transform: translateX(-20px);
    }
    100%{
      border: solid var(--vermelho);
      transform: translateX(0);
    }
}
#confirm_cadastro{
  background: var(--vermelho); padding: 1.5rem; color: #fff
}
/* VER ESTUDANTES */
.container-ver_estudantes {
  color: var(--preto);
  font-family: 'Kanit';
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.search {
  width: 100px;
  height: 100px;
  margin: 2rem 0;
  background-color: var(--preto);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}
.search::placeholder{
  color: var(--branco)
}
.search:before {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  position: relative;
  background-color: var(--btn-azul2);
  transition: all 0.5s ease;
}
.search.open {
  width: 100%;
  border-radius: 20px;
}
.search.open:before {
  height: 60px;
  margin: 20px 0 20px 30px;
  position: absolute;
}
.search-box {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;
  background: transparent;
  color: #fff;
  padding: 20px 100px 20px 45px;
  font-size: 40px;
}
.search-box:focus {
  outline: none;
}
.search-button {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  cursor: pointer;
}
.search-icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 3px solid var(--btn-azul2);
  display: block;
  position: relative;
  margin-left: 5px;
  transition: all 0.5s ease;
}
.qtd_alunos{
  color: rgba(255, 255, 255, 0.7);
  top: 10px; right: 25%;
  position: absolute;
  visibility: hidden;
}
.open .qtd_alunos{
  visibility: visible;
}
.search-icon:before {
  content: '';
  width: 3px;
  height: 15px;
  position: absolute;
  right: -2px;
  top: 30px;
  display: block;
  background-color: var(--btn-azul2);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.search-icon:after {
  content: '';
  width: 3px;
  height: 15px;
  position: absolute;
  right: -12px;
  top: 40px;
  display: block;
  background-color: var(--btn-azul2);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.open .search-icon {
  margin: 0;
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
.open .search-icon:before {
  transform: rotate(-52deg);
  left: 40%;
  top: 23px;
  height: 18px;
}
.open .search-icon:after {
  transform: rotate(230deg);
  left: 40%;
  top: 13px;
  height: 18px;
}
/* CONTATOS */
.contact-view {
  cursor: pointer;
  display: flex;
  transition: all 0.1s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  align-items: center;
  padding: 20px;
  position: relative;
  background-color: var(--branco);
  transition: background ease-in .4s;
}
.contact {
  position: relative;
}
.contact-view .img-contact {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4em;
}
.contact-view .contact-discription {
  max-width: auto;
  padding-left: 20px;
  flex-grow: 1;
}
.contact-view .name {
  font-weight: bold;
  font-size: 2em;
}
.contact-view .others-infos {
  font-weight: normal;
  font-size: 1.2em;
  color: #ACACAC;
  margin-top: 5px;
}
.extras-infos{
  padding: 1rem;
  color: var(--preto);
  background: var(--btn-azul2);
  font-size: 1.2rem;
  border-radius: 0px 0px 20px 20px;
-moz-border-radius: 0px 0px 20px 20px;
-webkit-border-radius: 0px 0px 20px 20px;
}
/* CADASTRAR SALAS */
.flex-row{
  width: 100%;
  display: flex;
}
.flex-row .input-container{
  margin: 0 1rem;
}
.c-salas{
  right: 5%!important;
  transform: translate(0, -105%)!important;
}
/* Configurações */
.title-config{
  padding: 1rem;
  font-size: 2rem;
  border-bottom: solid 5px;
}
.flex-config{
  margin: 0 auto;
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}
.editar-usuario{
  padding: 2rem;
  border-right: solid 2px var(--preto);
}
.ft-perfil{
  display: flex;
  align-items: center;
}
.ft-perfil img{
  margin: 10% auto;
  width: 50%;
  border-radius: 50%;
}
form input{
  width: 20vw;
}
.file-input{
  background: #e1e1e1!important;
}
.submit-enviar{
  width: 50%!important;
  border-radius: 0!important;
  margin: 1rem 0;
  padding: 1rem!important;
}
.btn-editar{
  background: var(--verde)!important
}
footer{
  text-align: center;
  background: var(--preto);
  color: rgba(255,255,255,0.9);
}

/* ALERT FINAL */
.alert{
  z-index: 999999;
  position: fixed;
  width: 40%;
  left: 0; top: 20%;
  background: var(--verde);
  border-radius: 0 15px 15px 0;
  -webkit-box-shadow: 12px 10px 20px -10px rgba(0,0,0,0.15);
  -moz-box-shadow: 12px 10px 20px -10px rgba(0,0,0,0.15);
  box-shadow: 8px 5px 20px -5px rgba(0,0,0,0.5);
}
.modal{
  z-index: 999999;
}
.alert_sair{
  transform: translateY(-50%);
  width: 100%;
  height: 30%;
  border-radius: none;
}
.alert_sair h1{
  color: #000!important;
}
.content-buttons{
  margin: auto;
  width: 100%;
}
.content-buttons a{
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
}
.btn-sair_alert{
  background: var(--vermelho)
}
.btn-nao_alert{
  background: var(--btn-azul2)
}
.alert h1, .alert p{
  margin-left: 10%;
  padding: 1rem;
}
.alert h1{
  font-family: 'Kanit', sans-serif;
  color: #fff;
  margin-bottom: 1%;
}
.alert p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  color: #fee8e7;
}
.alert span{
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 10%;
  color: #fff;
}
/* CONFIG */
@import url('https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.css');
.sortable {
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sortable li {
			float: left;
			width: 120px;
			height: 120px;
    overflow:hidden;
    border:1px solid red;
			text-align: center;
      margin:5px;
		}
	li.sortable-placeholder {
			border: 1px dashed #CCC;
			background: none;
		}
@media screen and (min-width: 960px){
  .mobile{
    display: none
  }
  body{
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 5% auto 3rem;
  }
  header{
    grid-column: 1/4;
    position: relative!important;

  }
  nav{
    grid-row: 2/3;
    grid-column: 1/2;
    background: var(--branco);
    margin-top: 70%;
    display: flex;
    flex-direction: column;
  }
  .menu-icon{
    display: none;
  }
  .legend{
    /* animation: icon_legend-hide ease-in-out .2s; */
    /* animation: icon_legend-show ease-in .5s; */
    visibility: hidden;
  }
  #btn-add_classrom {
    width: 75%;
    cursor: pointer;
  }
  @keyframes icon_legend-show {
    0%{
      opacity: 0;
      transform: translateY(-100%)
    }
    50%{
      opacity: 1;
      transform: translateY(5%)
    }
    100%{
      transform: translateY(0)
    }
  }
  @keyframes icon_legend-hide {
    to{
      opacity: 0;
      transform: translateY(-100%)
    }
  }
  .list-nav{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .elements-nav{
    padding-bottom:  .5rem;
  }
  #btn-add_classrom{
    padding-bottom:1rem;
  }
  .elements-nav img{
    width: 50%;
  }
  /* CONTATOS */
  .qtd_alunos{
    right: 10%;
  }
  .contact-view:hover{
    background: #eee!important;
  }
  .container-contatos{
    display: block;
    position: static;
  }
  .contatos{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(250, 250, 250,1.0);
    height: 10%;
    margin-bottom: 5%;
    width: 100%;
  }
  .status{
    margin: 5%;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
  }
  .contatos img{
    width: 25%;
    height: 25%;
    border-radius: 50%;
  }
  .contatos p{
    margin: 10%;
  }
  main{
    margin-top: 10%;
    padding: 2%;
    grid-row: 2/3;
  }
  .risco{
    display: none;
  }
  footer{
    grid-row: 4/3;
    grid-column: 1/3;
  }
  .content-buttons{
    margin: auto;
    width: 80%;
  }
}
