  @media screen and (min-width: 740px){
  .content-sections{
    margin: 0 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

/*¨¨¨¨¨¨¨¨¨¨¨DESKTOP¨¨¨¨¨¨¨¨¨¨¨*/
@media screen and (min-width: 960px){
  .mobile{
    display: none;
  }
  header{
    height: 90vh;
  }
  .content-login .img-login{
    width: 50%;
    transition: .8s;
  }
  .content-login{
    transform: translateX(-10%);
  }
  .content-login:hover .img-login{
    transform: scale(1.1);
  }
  #navbar{
    display: block;
    transform: translateY(-25%);
  }
  #navbar ul{
    transform: translateX(-20%);
  }
  #navbar li{
    margin: 0 50px;
    padding:  .8rem 0;
    position: relative;
  }
  #navbar li::before{
    padding-bottom: 2rem;
    content: "";
    position: absolute;
    height: 0;
    bottom: 0;
    width: 100%;
    background: var(--branco);
    z-index: -10;
    transition: .5s;
  }
  #navbar li a p{
  }
  #navbar li:hover::before{
    height: 100%;
  }
  /* CodeEditor */
  #terminal-CodeEditor{
    margin: 50px auto;
    transform: translate(-25%, -28%);
    width: 40%;
    max-width: 40%;
  }
  /* SECTIONS */
  section{
    margin-top: 2%;
  }
  .content-sections{
    margin: 0 150px;
    flex-wrap: nowrap;
    position: relative;
  }
  .react{
    position: absolute;
    height: 80%;
    width: 5px;
    bottom: 5%;
    left: 50%;
    background: var(--azul)
  }
  .contents-section{
    margin: 0 60px;
  }
  .titles-sections img{
    transform: translateY(-15%);
    width: 120px;
  }
  .contents-section .titles-container img{
    width: 60px;
  }
  .contents-section .text{
    font-size: 1.1rem;
    line-height: 1.20;
  }
  .end-icon{
    border: none;
    padding: .5rem 0;
  }
  .end-icon img{
    width: 60px;
  }
  .end-icon .img-left{
    margin-right: 0px;
  }
  .end-icon .img-right{
    margin-left: 0px;
  }
  /* manual */
  #manual{
    margin-top: 10%;
  }
  .model3d iframe{
    width: 500px;
  }
  /* CONTATOS */
  .qtd_alunos{
    right: 10%;
  }
  .contact-view:hover{
    background: #eee!important;
  }
  .container-contatos{
    display: block;
    position: static;
  }
  .contatos{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(250, 250, 250,1.0);
    height: 10%;
    margin-bottom: 5%;
    width: 100%;
  }
  .status{
    margin: 5%;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
  }
  .contatos img{
    width: 25%;
    height: 25%;
    border-radius: 50%;
  }
  .contatos p{
    margin: 10%;
  }
}
