body{
  height: 100%;
  width: 100%;
}
header{
  width: 100%;
  height: 80vh;
  background: url('../img/fundo_index06.jpg') fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 80%;
  background-position-x: 70%;
  font-family: 'Kanit', sans-serif;
}
.desktop{
  display: none;
}
.container-logo{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.container-logo .img-logo{
  width: 35%;
}
.subTitles-icons{
  color: var(--preto);
  text-transform: uppercase;;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}
/*------------MENU------------*/
#btn-menu {
  z-index: 999;
  cursor: pointer;
  position: fixed;
  right: 0;
  top: calc(5% + 5vh);
}
#btn-menu i{
  padding: 1rem;
  font-size: 4rem;
  color: var(--branco);
  background: var(--preto);
  border-radius: 50px 0  0 50px;
}
#navbar{
  display: none;
  margin: auto;
  width: 50%;
}
#navbar .img{
  width: 70px;
  height: 90px;
}
#navbar ul{
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateX(-20%);
}
#navbar li{
  margin: 20px;
}
/* CodeEditor */
#terminal-CodeEditor{
  background: var(--preto);
}
.CodeMirror{
  background: var(--preto)!important;
  padding: 1rem;
  height: 80px!important;
}
.CodeMirror-gutters{
  background: var(--branco)!important;
}
.CodeMirror-line{
  font-size: 1rem!important;
  font-family: 'Source Sans Pro', sans-serif!important
}
.CodeMirror-linenumber{
  font-size: 1.1rem!important;
  color: var(--preto)!important
}
#terminal-CodeEditor{
  border-radius: 10px;
  margin-left: 2%;
  transform: translateY(1%);
  width: 80%;
}
.title-code{
  font-family: 'Kanit', sans-serif;
  padding: 1rem 2rem;
  font-size: .8rem;
  color: var(--branco);
  text-transform: uppercase;
}
.run-button{
  border-radius: 5px 5px 0 0;
  background: var(--branco);
  padding: calc(25px/2) calc(130px/2);
  position: absolute;
  z-index: 99;
  bottom: 5%;
  right:5%;
}
/* SECTIONS */
section{
  margin:50px 0 ;
}
.titles-sections{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0;
}
.titles-sections h2{
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-left: 20px;
}
.frase{
   text-align: center;
   font-size: 1rem;
   color: var(--preto);
   font-family: 'Kanit', sans-serif;
   margin-bottom: 5%;
}
.frase p:first-child{
  font-size: 1.2rem;
  font-weight: 900;
}
.titles-sections img{
  transform: translateY(-10%);
  width: 100px;
}
.content-sections{
  margin: 0 50px;
}
.contents-section .titles-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.contents-section .titles-container img{
  width: 50px;
}
.contents-section .titles-content{
  text-align: center;
  color: var(--preto);
  font-family: 'Kanit', sans-serif;
}
.contents-section .titles-content h2{
  font-size: 1.5rem;
  font-weight: bold;
}
.contents-section .titles-content p{
  font-size: 1rem;
  font-weight: 500;
}
.contents-section .titles-content{
  margin: 0 2rem;
}
.contents-section  .text{
  font-family: 'Source Sans Pro',sans-serif;
  text-align: justify;
}
.contents-section .text p{
  font-size: 1rem;
}
.end-icon{
  margin: 5% 0;
  border-bottom: solid var(--azul);
  padding: .5rem 2rem;
}
.end-icon img{
  display: block;
  margin: 0 auto;
  width: 35px;
}
.end-icon .texts-icons {
  font-family: 'Source Sans Pro',sans-serif;
  text-align: center;
  font-size: .8rem;
  color: var(--preto);
  font-weight: bold;
}
/* manual */
#manual{
  margin-top: 5%;
}
.codeexemple code{
  padding: 2rem;
  border-radius: 10px;
}
.model3d iframe{
  width: 300px;
  height: 500px;

}
/*  FOOTER */
footer{
  margin: 0 auto;
  padding-bottom: 3%;
  width: 98%;
  background: var(--preto);
  border-radius: 80px 80px 0 0;
}
.titles_footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titles_footer img{
  margin: 1rem 0;
  width: 200px;
}
.titles_footer .rect-title{
  padding: 2rem 5rem;
  border-radius: 0 0 20px 20px;
  background: var(--roxo);
}
.titles_footer .rect-title h2{
  color: var(--branco);
  font-family: 'Kanit', sans-serif;
  text-align: center;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.infos-autor{
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.infos-autor img{
  margin: 0 1rem;
  border: solid var(--branco) 5px;
  border-radius: 50%;
  width: 150px;
}
.infos-autor .autor p{
  color: var(--branco);
  font-size: 1rem;
  font-family: 'Kanit', sans-serif;
}
