*{
  margin: 0;
  padding: 0;
}
*, *::before, *::after{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  border: 0;
}
:root{
  --vermelho: #f13838;
  --preto: #0e0d0d;
  --meu-cinza: #d3cfcf;
  --rect-branco: #fff;
  --btn-azul: #5c6bc0;
}
/* Estilização Forms */
form{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
form legend{
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
.titles-section legend{
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  margin-left: 2%;
}
.titles-section  h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  margin-bottom: 2rem;
}
form input{
  padding: 1rem;
  margin: 2%;
  background: #eceff1;
  border-radius: 10px;
  outline: none;
}
form input ~ label{
  color: rgba(0,0,0,0.3);
  opacity: 0;
  transition: all ease-in-out .2s;
  transform: translateY(-3rem) translateX(1rem) translateZ(0.0);
}
form ::placeholder{
  color: rgba(0,0,0,0.4);
}
form input:focus ~ label{
  font-family: 'Source Sans Pro';
  font-weight: bold;
  color: rgba(0,0,0,0.5);
  font-size: 1rem;
  opacity: 1;
  transform: translateY(-5rem) translateX(.2rem);
}
input[type="button"], input[type="submit"]{
  cursor: pointer;
  font-size: 1rem;
  cursor: pointer;
  transition-duration: .5s;
}
input[type="button"]:hover,input[type="submit"]:hover{
  border-radius: 0px;
}
.input-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container-forms{
  margin: auto;
  width: 100%;
  border-radius: 15px;
  background: rgba(255,255,255, .9);
}
.titles-section{
  padding-left: 2%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.titles-section h1, legend{
  flex: 1;
  font-family: 'Source Sans Pro';
  font-size: 1.2rem;
  margin-bottom: 5%;
}
.titles-section h1{
  width: 20%;
  border-bottom: solid 2px #000;
}
.titles-section i{
  margin-right: 5%;
  font-size: 3rem;
  cursor: pointer;
}
#btn-home{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#btn-home a i{
  font-size: 2rem;
  padding: 1rem;
  color: #000;
}
.container-buttons{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.submit-enviar{
  text-transform: uppercase;
  width: 40%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 15px;
  color: #fff;
  background: var(--btn-azul);
}
/* SELECTS */
.select-container{
  margin: 0 auto;
  width: 80%;
}
@media screen and (min-width: 940px){
  .container-forms{
    width: 40%;
    background: rgba(255,255,255, .98);
    -webkit-box-shadow: 1px 5px 20px -8px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 5px 20px -8px rgba(0,0,0,0.3);
    box-shadow: 1px 5px 20px -8px rgba(0,0,0,0.3);
  }
}
