*{
  margin: 0;
  padding: 0;
}
*, *::before, *::after{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  border: 0;
}
body{
  height: 100%;
  width: 100%;
}
:root{
  --vermelho: #f13838;
  --preto: #0e0d0d;
  --meu-cinza: #d3cfcf;
  --rect-branco: #fff;
}
html,
body{
  height: 100%;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
body{
  display: flex;
  background: url(../img/fundo_pagAcesso.jpg) center center;
  background-repeat: no-repeat;
  background-size: 100% !important;
  background-position: 0% auto;
}
form{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
form legend{
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
form input{
  width: 80%;
  padding: 1rem;
  margin: 1%;
  background: #eceff1;
  /* #ecf0f1; */
  border-radius: 10px;
  outline: none;
}

form input ~ label{
  color: rgba(0,0,0,0.3);
  opacity: 0;
  transition: all ease-in-out .2s;
  transform: translateY(-3rem) translateX(1rem) translateZ(0.0);
}
form ::placeholder{
  color: rgba(0,0,0,0.4);
}
form input:valid ~ label{
 color: rgba(0,0,0,0.7);
 border-bottom: solid 1px rgba(0,0,0,0.7);
  width: 8%;
  font-size: 1rem;
  opacity: 1;
  transform: translateY(-5rem) translateX(1rem);
}
.input-container{
  display: flex;
  flex-direction: column;
}
.container{
  margin: auto;
  width: 40%;
  border-radius: 15px;
  background: rgba(255,255,255, .98);
  -webkit-box-shadow: 1px 5px 20px -8px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 5px 20px -8px rgba(0,0,0,0.3);
  box-shadow: 1px 5px 20px -8px rgba(0,0,0,0.3);
}
.container-buttons{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container-buttons input{
  color: #fff;
}
.button-cadastrar{
  background: #5c6bc0;
  flex: 1;
}
.button{
  flex: 2;
  background: var(--vermelho);
}
