*{
  margin: 0;
  padding: 0;
}
*, *::before, *::after{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  border: 0;
}
:root{
  --vermelho: #f13838;
  --preto: rgba(14, 13, 13, .8);
  --meu-cinza: #d3cfcf;
  --rect-branco: #fff;
  --btn-azul: #5c6bc0;
}
html,
body{
  height: 100%;
  width: 100%;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
html{
  background: #f1f2f2;
}
body{
  background: url('../img/fundo_index08.jpg') center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
/* ESCONDENDO TAGS */
#cadastro, #type_user{
 display: none;
}

/* CONTENTs */
.container-forms{
  height: 100%;
  overflow-y: scroll;
}
.container-forms::-webkit-scrollbar {
    width: 1em;
}
.container-forms::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--preto);
}
.primary-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button-cadastrar{
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Kanit';
  text-align: center;
  transform: translateX(-5%);
}

/* ALERT FINAL */
.alert{
  position: relative;
  margin-bottom: 5%;
  width: 80%;
  background: #c0392b;
  /* background: #e74c3c; */
  /* background: #f44336; */
  border-radius: 0 15px 15px 0;
}
.alert h1, p{
  margin-left: 10%;
  padding: 1rem;
}
.alert h1{
  color: #fff;
  margin-bottom: 1%;
}
.alert p{
  font-size: 1.2rem;
  color: #fee8e7;
}
.alert span{
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 15%;
  color: #fff;
}
