*{
  margin: 0;
  padding: 0;
}
*, *::before, *::after{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  border: 0;
}
body{
  height: 100%;
  width: 100%;
}
:root{
  --vermelho: #f13838;
  --preto: #0e0d0d;
  --meu-cinza: #d3cfcf;
  --rect-branco: #fff;
  --btn-azul: #5c6bc0;
}
html,
body{
  height: 100%;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
body{
  display: flex;
  background: url(../img/fundo_pagAcesso.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% auto;
}

/* ESCONDENDO TAGS */
.container-cadastrar{
 /* display: none; */

}

form{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
form legend{
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
.titles-section legend{
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 2rem;
  margin-left: 2%;
}
form input{
  border: solid;
  width: 80%;
  padding: 1rem;
  margin: 1%;
  background: #eceff1;
  /* #ecf0f1; */
  border-radius: 10px;
  outline: none;
}
form input ~ label{
  color: rgba(0,0,0,0.3);
  opacity: 0;
  transition: all ease-in-out .2s;
  transform: translateY(-3rem) translateX(1rem) translateZ(0.0);
}
form ::placeholder{
  color: rgba(0,0,0,0.4);
}
form input:valid ~ label{
  font-family: 'Source Sans Pro';
  font-weight: bold;
  color: rgba(0,0,0,0.5);
  width: 50%;
  font-size: 1rem;
  opacity: 1;
  transform: translateY(-5rem) translateX(.2rem);
}
input[type="button"], input[type="submit"]{
  font-size: 1rem;
  cursor: pointer;
  transition-duration: .5s;
}
input[type="button"]:hover,input[type="submit"]:hover{
  border-radius: 0px;
}
.input-container{
  display: flex;
  flex-direction: column;
}
.container{
  margin: auto;
  width: 100%;
  border-radius: 15px;
  background: rgba(255,255,255, .9);
}
.titles-section{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.titles-section h1, legend{
  flex: 1;
  font-family: 'Source Sans Pro';
  font-size: 1.2rem;
  margin-bottom: 5%;
}
.titles-section h1{
  width: 20%;
  border-bottom: solid 2px #000;
}
.titles-section i{
  font-size: 3rem;
  cursor: pointer;
}
#btn-home{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#btn-home a i{
  font-size: 2rem;
  padding: 1rem;
  color: #000;
}
.container-buttons{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container-buttons input{
  color: #fff;
}
.button-cadastrar{
  background: var(--btn-azul);
  flex: 1;
}
.button{
  flex: 2;
  background: var(--vermelho);
  color: #fff;
}
.primary-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit-enviar{
  width: 40%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 15px;
  color: #fff;
  background: var(--btn-azul);
}
/* ALERT FINAL */
.alert{
  position: relative;
  margin-bottom: 5%;
  width: 80%;
  background: #c0392b;
  /* background: #e74c3c; */
  /* background: #f44336; */
  border-radius: 0 15px 15px 0;
}
.alert h1, p{
  margin-left: 10%;
  padding: 1rem;
}
.alert h1{
  color: #fff;
  margin-bottom: 1%;
}
.alert p{
  font-size: 1.2rem;
  color: #fee8e7;
}
.alert span{
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 15%;
  color: #fff;
}
@media screen and (min-width: 940px){
  .container{
    width: 40%;
    background: rgba(255,255,255, .98);
    -webkit-box-shadow: 1px 5px 20px -8px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 5px 20px -8px rgba(0,0,0,0.3);
    box-shadow: 1px 5px 20px -8px rgba(0,0,0,0.3);
  }
}
