<div class="container-cadastrar">
  <form id="cadastro" class="container-cadastro forms" action="/cadastrar/user" method="post">
    <div class="titles-section">
      <legend>CADASTRAR</legend>
      <i id="btn-voltar" class="material-icons">navigate_before</i>
    </div>
    <div class="primary-section">
      <select class="categorias" >
        <option  id="selected" disabled selected>Selecione sua Categoria</option>
        <option  value="info-professor">Professor</option>
        <option  value="info-pessoaF">Pessoa Física</option>
      </select>
      <input type="button" id="btn-next" value="Próximo"></input>
    </div>
    <div id="info-usuario" class="segundary-section" method="post">
     <div class="titles-section">
        <h1>Informação de Usuário</h1>
     </div>
     <div class="input-container">
         <input type="text" name="nome_cadastro" placeholder="Digite seu nome Completo" >
         <label for="nome">Nome</label>
     </div>
     <div class="input-container">
       <input type="text" name="email_cadastro" placeholder="Digite seu email" >
       <label for="email">Email</label>
     </div>
     <div class="input-container">
          <input type="password" name="senha_cadastro" placeholder="Digite sua senha" >
          <label for="senha">Senha</label>
      </div>
    </div>
    <div id="info-professor" class="forms info-usuarios">
      <div class="titles-section">
        <h1>Informação do Professor</h1>
      </div>
      <div class="input-container">
        <input type="text" name="instituicao" placeholder="Digite da sua Escola/Universidade" >
        <label for="instituicao_professor">Instituição</label>
      </div>
      <div class="input-container">
        <input type="text" name="titulacao_cadastro" placeholder="Digite sua titulação: Mestrer, Especialista, Doutor.." >
        <label for="titulacao_professor">Titulação</label>
      </div>
      <div class="input-container">
        <input type="password" name="area_professor" placeholder="Digite sua área de atuação atual" >
        <label for="area_professor">Área de Atuação</label>
      </div>
      <button type="submit" class="submit-enviar" name="cadastrar-professor">Cadastrar</button>
    </form>
    </div>
    <div id="info-pessoaF" class="container-pessoaF forms info-usuarios">
      <form action="" method="post">
      <div class="titles-section">
        <h1>Informação de Pessoa Física</h1>
      </div>
      <div class="input-container pais-cidade">
       <select class="pais-pesssoF">
          <option  value="" disabled selected>Selecione sua Pais</option>
          <%for(var i = 0; i < informacoes.length; i++) {%>
            <option value="<%= informacoes[i].nome_pais%>"><%= informacoes[i].nome_pais %></option>
           <%}%>
       </select>
       <select class="cidade-pessoaF">
            <option  value="" disabled selected>Selecione sua Cidade</option>
            <%for(var i = 0; i < informacoes.length; i++) {%>
              <option value="<%= informacoes[i].nome_cidade%>"><%= informacoes[i].nome_cidade%></option>
            <%}%>
       </select>
       </div>
       <div class="input-container">
         <input type="number" name="fonecel_cadastro" placeholder="Digite seu número de celular" required>
        <label for="email">Número de Celular</label>
       </div>
       <button type="submit" class="submit-enviar buttons" name="cadastrar">Cadastrar</button>
     </form>
    </div>
</form>
</div><!--fim-cadastro-->
