<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>Seu Amigo Robô</title>
    <link rel="shortcut icon" href="img/favicon.png" />
    <meta name="description" content="Sistema SAR">
    <meta name="keywords" content="HTML,CSS,JQUERY,JavaScript,EXPRESS">
    <meta name="author" content="Nycolas Silva Fróes">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/desktop.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/nav_w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Kanit|Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <link rel="stylesheet" href="packs/CodeEditor/theme/monokai.css">
    <link rel="stylesheet" href="packs/CodeEditor/lib/codemirror.css">
    <link rel="stylesheet" href="packs/CodeEditor/addon/scroll/simplescrollbars.css">
    <script src="packs/CodeEditor/lib/codemirror.js"></script>
    <script src="packs/CodeEditor/addon/scroll/simplescrollbars.js"></script>
    <script src="packs/CodeEditor/mode/javascript/javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body >
    <header id="Home">
<!-- LOGO -->
        <div class="container-logo">
          <img class="img-logo" src="img/logo_svg.svg" alt="logo SAR">
          <div class="content-login">
            <a href="/pagina_acesso">
              <img class="img-login" src="img/icons/login.svg" alt="btn-login">
              <p class="subTitles-icons">Login</p>
            </a>
          </div>
        </div>
<!--NAV MOBILE-->
        <span id="btn-menu" class="mobile" onclick="openNav()">
          <i class="material-icons">menu</i>
        </span>
        <div id="myNav" class="overlay mobile">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <div class="overlay-content">
            <a  href="#manual">
              <img class="img img-manual" src="img/icons/manual.svg" alt="manual">
              <p class="subTitles-icons">Manual</p>
            </a>
            <a  href="#sobre">
              <img class="img img-sobre" src="img/icons/sobre.svg" alt="sobre">
              <p class="subTitles-icons">Sobre</p>
            </a>
            <a  href="#comprar">
              <img class="img img-coin" src="img/icons/coin.svg" alt="comprar">
              <p class="subTitles-icons">Comprar</p>
            </a>
          </div>
        </div>
<!--NAV-->
        <nav id="navbar">
          <ul>
            <li>
              <a  href="#manual">
                <img class="img img-manual" src="img/icons/manual.svg" alt="manual">
                <p class="subTitles-icons">Manual</p>
              </a>
            </li>
            <li>
              <a  href="#sobre">
                <img class="img img-sobre" src="img/icons/sobre.svg" alt="sobre">
                <p class="subTitles-icons">Sobre</p>
              </a>
            </li>
            <li>
              <a  href="#comprar">
                <img class="img img-coin" src="img/icons/coin.svg" alt="comprar">
                <p class="subTitles-icons">Comprar</p>
              </a>
            </li>
          </ul>
        </nav>
<!-- CodeEditor -->
        <div id="terminal-CodeEditor" >
          <!--CODE EDITOR - REFERENCES CODEMIRROR-->
          <div id="container-code" class="Code-editor">
            <div class="title-code">
              <h2>Pronto para programar?</h2>
            </div>
            <textarea id="codeeditor"class="runnable js"></textarea>
          </div>
        </div>
    </header>
      <main>
<!--SOBRE-->
      <section id="sobre">
        <div class="titles-sections">
          <img src="img/icons/sobre.svg" alt="sobre">
          <h2>Sobre</h2>
        </div>
        <div class="frase">
          <p>"UM PEQUENO APRENDIZ NASCE COM APRENDIZES"</p>
          <p>- Nycolas Silva Fróes</p>
        </div>
        <div class="content-sections">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </section>
<!--MANUAL-->
      <section id="manual">
        <div class="titles-sections">
          <img src="img/icons/manual.svg" alt="manual">
          <h2>Manual</h2>
        </div>
        <div class="content-sections">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </section>
      </main>
<!--FOOTER-->
      <footer>

      </footer>
  </body>
<!--SCRIPTS-->
  <script type="text/javascript" src="js/codeeditor_index.js"></script>
  <script type="text/javascript" src="js/effect-roll.js"></script>
  <script type="text/javascript" src="js/barra_home.js"></script>
</html>
