<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>Seu Amigo Robô</title>
    <link rel="shortcut icon" href="img/favicon.png" />
    <meta name="description" content="Sistema SAR">
    <meta name="keywords" content="HTML,CSS,JQUERY,JavaScript,EXPRESS">
    <meta name="author" content="Nycolas Silva Fróes">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/desktop.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/nav_w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Kanit|Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="packs/Highlight/styles/monokai.css">
    <script src="packs/Highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="stylesheet" href="packs/CodeEditor/theme/monokai.css">
    <link rel="stylesheet" href="packs/CodeEditor/lib/codemirror.css">
    <link rel="stylesheet" href="packs/CodeEditor/addon/scroll/simplescrollbars.css">
    <script src="packs/CodeEditor/lib/codemirror.js"></script>
    <script src="packs/CodeEditor/addon/scroll/simplescrollbars.js"></script>
    <script src="packs/CodeEditor/mode/javascript/javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body >
    <header id="Home">
<!-- LOGO -->
        <div class="container-logo">
          <img class="img-logo" src="img/logo_svg.svg" alt="logo SAR">
        </div>
<!--NAV MOBILE-->
        <span id="btn-menu" class="mobile" onclick="openNav()">
          <i class="material-icons">menu</i>
        </span>
        <div id="myNav" class="overlay mobile">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <div class="overlay-content">
            <a href="pagina_acesso">
              <img class="img-login" src="img/icons/login.svg" alt="btn-login">
              <p class="subTitles-icons">Login</p>
            </a>
            <a  href="#manual">
              <img class="img img-manual" src="img/icons/manual_preto.svg" alt="manual">
              <p class="subTitles-icons">Manual</p>
            </a>
            <a  href="#sobre">
              <img class="img img-sobre" src="img/icons/sobre.svg" alt="sobre">
              <p class="subTitles-icons">Sobre</p>
            </a>
            <a  href="#comprar">
              <img class="img img-coin" src="img/icons/coin.svg" alt="comprar">
              <p class="subTitles-icons">Comprar</p>
            </a>
          </div>
        </div>
<!--NAV-->
        <nav id="navbar">
          <ul>
            <li>
              <a  href="#manual">
                <img class="img img-manual" src="img/icons/manual_preto.svg" alt="manual">
                <p class="subTitles-icons">Manual</p>
              </a>
            </li>
            <li>
              <a  href="#sobre">
                <img class="img img-sobre" src="img/icons/sobre.svg" alt="sobre">
                <p class="subTitles-icons">Sobre</p>
              </a>
            </li>
            <li>
              <a  href="#comprar">
                <img class="img img-coin" src="img/icons/coin.svg" alt="comprar">
                <p class="subTitles-icons">Comprar</p>
              </a>
            </li>
            <li>
              <a href="/pagina_acesso">
                <img class="img img-login" src="img/icons/login.svg" alt="btn-login">
                <p class="subTitles-icons">Login</p>
              </a>
            </li>
          </ul>
        </nav>
<!-- CodeEditor -->
        <div id="terminal-CodeEditor" >
          <!--CODE EDITOR - REFERENCES CODEMIRROR-->
          <div id="container-code" class="Code-editor">
            <div class="title-code">
              <h2>Pronto para programar?</h2>
            </div>
            <textarea id="codeeditor"class="runnable js"></textarea>
          </div>
        </div>
    </header>
      <main>
<!--SOBRE-->
      <section id="sobre">
        <div class="titles-sections">
          <img src="img/icons/sobre.svg" alt="sobre">
          <h2>Sobre</h2>
        </div>
        <div class="frase">
          <p>"Ao infinito e além"</p>
          <p>- Nycolas Silva Fróes</p>
        </div>
        <div class="content-sections">
          <div class="contents-section ideia">
            <div class="titles-container">
              <img src="img/icons/ideia.svg" alt="Icons ideia">
              <div class="titles-content">
                <h2>A ideia</h2>
                <p>Aqui tudo começa</p>
              </div>
            </div>
            <div class="text">
              <p>	Está página se trata de um trabalho de conclusão de curso (TCC), na qual a partir dela você poderá executar códigos para o meu robô, dando vida a ele.
              	Podendo ser executado nessa plataforma códigos em javascript de acordo com o material didático para o professor, para entender melhor o funcionamento e como ensinar seus alunos a partir desse protótipo.</p>
            </div>
            <div class="end-icon" title="Github">
              <a href="https://github.com/NycolasSF/Sistema_SAR">
                <img class="img-left" src="img/icons/github-logo.svg" alt="Icons github-logo">
                  <p class="texts-icons  mobile">Github</p>
                </img>
              </a>
            </div>
          </div>
          <div class="react"></div>
          <div class="contents-section projeto">
            <div class="titles-container">
              <img src="img/icons/projeto.svg" alt="Icons projeto">
              <div class="titles-content">
                <h2>O projeto</h2>
                <p>Aqui tudo se escreve</p>
              </div>
            </div>
            <div class="text">
              <p>		“Em meio das dificuldades vivenciadas pelos estudantes na área de programação, no curso de Informática para Internet no IFMS <i>Campus</i> Dourados, com a linguagem de programação Javascript, foi pensado a construção de um robô, reutilizando materiais recicláveis. O robô será uma ferramenta nas mãos dos professores que ensinaram a programação orientada a objetos, e com ele deixará o conteúdo mais atrativo.” (FRÓES, 2018, p.4)</p>
            </div>
            <div class="end-icon" title="TCC">
              <a href="" download="">
                <img class="img-right" src="img/icons/download.svg" alt="Icons download">
                  <p class="texts-icons mobile">TCC</p>
                </img>
              </a>
            </div>
          </div>
        </div>
      </section>
<!--MANUAL-->
      <section id="manual">
        <div class="titles-sections">
          <img src="img/icons/manual_preto.svg" alt="manual">
          <h2>Manual</h2>
        </div>
        <div class="content-sections">
          <div class="contents-section primeiosPassos">
            <div class="titles-container">
              <div class="titles-content">
                <h2>PRIMEIROS PASSOS</h2>
              </div>
            </div>
            <div class="text">
              <p>Por se tratar de um robô com um site próprio podemos ultilizar esse mecanismo para mandar informações como segue o exemplo a seguir: </p>
            </div>
            <div class="codeexemple">
              <pre>
                <code class="jsvascript">
      var connection = '0.0.0.0';
      var robo = new Robo_sar(connection);

      robo.moverFrente();
                </code>
              </pre>
            </div>
          </div>
          <!-- <div class="react react-manual"></div> -->
          <div class="contents-section model3d">
            <iframe scrolling="no" frameborder="0" hspace="0" src="https://autode.sk/2A8ATTM"  allowtransparency="true" ></iframe>
          </div>
        </div>
      </section>
      </main>
<!--FOOTER-->
      <footer>
        <div class="titles_footer">
          <img src="img/logo-SAR_branca.png" alt="">
          <div class="rect-title">
            <h2>Produtores</h2>
          </div>
        </div>
        <div class="description_footer">
          <div class="infos-autor">
            <div class="autor autor_1">
              <img src="img/nycolas.jpg" alt="">
              <p>Nycolas Silva Fróes</p>
            </div>
            <div class="autor autor_2">
              <img src="img/jonison.png" alt="">
              <p>Jónison Almeida dos Santos</p>
            </div>
            <!-- <img src="img/nycolas.jpg" alt=""> -->
          </div>
        </div>
      </footer>
  </body>
<!--SCRIPTS-->
  <script type="text/javascript" src="js/codeeditor_index.js"></script>
  <script type="text/javascript" src="js/effect-roll.js"></script>
  <script type="text/javascript" src="js/barra_home.js"></script>
</html>
